

/* The Modal (background) */
.modal {
 display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  right:30px;
  top:10px;
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  width: 20%; /* Full width */
  height: 20%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(167 185 185); /* Fallback color */
  background-color: rgba(167 185 185); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: rgb(50, 47, 47);
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #0f0a0a;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 30%;
  }
}

.mainbox{
    height: 550px;
    width: 690px;
    background-color: rgb(226, 226, 226);
}

.rabit{
    position: absolute;
	top:1%;
  	left:54%;
    	height: 60px;
   	
  
}
.why-crpto
    {
   
        position: absolute;
    height: 160px;
    /* width: 365px; */
    top: 61%;
    left: 39%;
    }

.world-need{
    position: absolute;
    height: 160px;
    top: 160%;
    left: 37%;
}


.milestone{
  position: absolute;
      width: 6%;
    height: 75px;
}
.milestone-1{
  top:10%;
  left:45%
  
}
.milestone-2{ 
  top:30%;
  left:36%
}
.milestone-3{
  top:93%;
  left:50%
}
.milestone-4{
  top:120%;
  left:39%
}
.milestone-5{
  top:90%;
  left:42%
}

.comp-milestone{
  position: absolute;
  height: 40px;
} 

.comp-milestone-2{
  top:40%;
  left:57%
}

.comp-milestone-4{
  top:80%;
  left:49%
}
.comp-milestone-5{
  top:100%;
  left:49%
}